{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/docs.css') }}"
{% endblock %}

{{ include('header.html.twig') }}

{% block content %}
    <div class="container docs-container">
        <div class="row docs-help">
            <div class="col-md-12">
                <a href="#">Aide</a>
            </div>
        </div>
        <div class="row docs-table">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Rubrique</th>
                            <th>Document</th>
                            <th>Présentation</th>
                            <th>État</th>
                            <th>Version</th>
                            <th>Commentaire</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>p</td>
                            <td>p</td>
                            <td>p</td>
                            <td>p</td>
                            <td>p</td>
                            <td>p</td>
                        </tr>
                        <tr>
                            <td>P</td>
                            <td>P</td>
                            <td>P</td>
                            <td>p</td>
                            <td>p</td>
                            <td>p</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
