{% extends 'base.html.twig' %}
{% block body %}
    <h3>Prendre un rendez-vous</h3>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% include '@Calendar/Default/calendar.html.twig' %}
    {% include '@Calendar/Default/myAppointment.html.twig' %}
{% endblock %}


